body {
	background-color: #ccffff;
	font-family: MS pgothic;
	margin: 20px 20px 20px 20px;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.welcome {
	order: 1;
}

.myLink {
	order: 2;
}

.setHeight {
	height: 285px;
	margin-bottom: 10px;
		margin-top: 30px;
	
}

.kk {
	background-color: #3366ff;
	border: none;
	height: 20px;
	margin-top: 30px;

}

.box {
	padding: 20px 5px 0px 5px;
	width: 99%;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
		margin-top: 30px;
}

.input {
	width: 100px;
	border-top: 2px solid black;
	border-left: 2px solid black;
}

td {
	word-wrap: break-word;
}


table tr:nth-child(even) {
	background-color: white;
	color: black;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	table-layout: fixed
}

table {
	border: 1px solid #339966;
	text-align: left;
}

table tr:last-child {
	border-bottom: none;
}

table {
	border-collapse: collapse;
	width: 100%;
}

.btnSearch {
	width: 100px;
	font-size: 15px;
	margin-right: 20px;
	font-family: MS pgothic;
}

select {
	width: 100px
}

.lb {
	margin-right: 20px;
	padding-left: 20px;
}

select {
	border-top: 2px solid black;
	border-left: 2px solid black;
}

.kc {
	margin-right: 20px;
}

.box div {
	float: left;
	background-color: #ffff99;
}
.setHeight {
  max-height: 290px; /* Thiết lập chiều cao tối đa của bảng */
  overflow-y: auto; /* Thêm thanh cuộn dọc khi nội dung vượt quá chiều cao */
}


table th, table td {
  /* Thêm khoảng cách giữa các ô */
  border-bottom: 1px solid #ddd; /* Thêm đường viền dưới các ô */
}
table th{
	 height: 20px;
}


